*.iml
.gradle/
/local.properties
.idea/
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
*.hprof

# Firebase
app/google-services.json

# Gradle
!gradle/wrapper/gradle-wrapper.jar
